.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__btn {
  background-color: aquamarine;
}
.card__btn--small {
  font-size: 1px;
}
.card__btn--medium {
  font-size: 20px;
}
.card__btn--large {
  font-size: 60px;
}
