@mixin flex {
    display: flex;
    justify-content: space-evenly;
}

// placeholder
// %default-spacing {
//     border-radius: 15px;
//     margin: 10px;
//     padding: 20px;
// }

.card {
    @include flex;
    border: 2px solid crimson;
    // @extend %default-spacing;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
}

.blog {
    @extend .card;
}
